dist/
**/dist/**
node_modules/
**/node_modules/**
coverage/
**/coverage/**
.turbo/
**/.turbo/**
*.tsbuildinfo
**/*.tsbuildinfo
*.d.ts
**/*.d.ts
release.manifest.json
stencil-dist/
**/stencil-dist/**
loader/
**/loader/**
www/
**/www/**
